In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("sport car.csv")

In [3]:
df

,models,year,price,transmission,mileage,fuelTypes,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford
...,...,...,...,...,...,...,...,...,...,...
97707,Fiesta,2017,10447,Automatic,8337,Petrol,145,54.3,1.0,ford
97708,3 Series,2014,14995,Manual,25372,Diesel,30,61.4,2.0,BMW
97709,Fiesta,2017,8950,Manual,19910,Petrol,125,54.3,1.2,ford
97710,Astra,2017,10700,Automatic,24468,Petrol,125,50.4,1.4,vauxhall
97711,Grandland X,2019,15798,Manual,10586,Diesel,150,48.7,1.5,vauxhall

In [4]:
df.head(5)

,models,year,price,transmission,mileage,fuelTypes,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

In [5]:
df.drop(['transmission','mileage','tax','mpg','engineSize','Manufacturer'],axis='columns',inplace=True)

In [6]:
df.head(6)

          models  year  price fuelTypes
0            I10  2017   7495    Petrol
1           Polo  2017  10989    Petrol
2       2 Series  2019  27990    Diesel
3   Yeti Outdoor  2017  12495    Diesel
4         Fiesta  2017   7999    Petrol
5           C-HR  2019  26791    Hybrid

In [7]:
from sklearn.preprocessing import LabelEncoder 
models=LabelEncoder()
fuelTypes=LabelEncoder()
df['models']=models.fit_transform(df['models'])
df['fuelTypes']=fuelTypes.fit_transform(df['fuelTypes'])

In [8]:
df.head(5)

   models  year  price  fuelTypes
0      81  2017   7495          4
1     115  2017  10989          4
2       1  2019  27990          0
3     184  2017  12495          0
4      60  2017   7999          4

In [9]:
x=df.iloc[:,[0,1,2]]

In [10]:
x.head(5)

   models  year  price
0      81  2017   7495
1     115  2017  10989
2       1  2019  27990
3     184  2017  12495
4      60  2017   7999

In [11]:
y=df.iloc[:,[-1]]

In [12]:
y.head(5)

   fuelTypes
0          4
1          4
2          0
3          0
4          4

In [13]:
from sklearn .model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df[['models','year','price']],df['fuelTypes'],test_size=0.2)

In [24]:
x_train.shape

(78169, 3)

In [15]:
y_train

84287    4
49589    0
61095    4
87434    0
91010    4
        ..
85181    4
18803    4
55810    4
96997    0
53265    0
Name: fuelTypes, Length: 78169, dtype: int32

In [16]:
len(x_train)

78169

In [17]:
from sklearn .naive_bayes import GaussianNB

In [18]:
model = GaussianNB()

In [19]:
model.fit(x_train,y_train)

GaussianNB()

In [20]:
model.predict(x_train)

array([4, 4, 4, ..., 4, 4, 4])

In [21]:
model.score(x,y)

0.5965490420828558

In [22]:
model.predict([[104,2012,700000]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([0])