In [26]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("test scoresss.csv")

In [28]:
df

     Name   math  cs
0   david     92  98
1   laura     56  68
2  sanjay     88  81
3     wei     70  80
4      jef    80  83
5   aamir     49  52
6   jenket    65  66
7   virat     35  30
8   arthur    66  68
9     paul    67  73

In [29]:
x=df["math"]
y=df["cs"]

In [32]:
def gradient_descent(x,y):
    m_curr = b_curr = 0
    iterations = 10
    n = len(x)
    learning_rate = 0.08

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n) * sum([val**2 for val in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        print ("m {}, b {}, cost {} iteration {}".format(m_curr,b_curr,cost, i))

In [33]:
gradient_descent(x,y)

m 791.344, b 11.184000000000001, cost 5199.1 iteration 0
m -597932.4459520001, b -8437.306111999998, cost 2957909051.2312264 iteration 1
m 452390988.68765604, b 6383625.829200897, cost 1693194866633649.8 iteration 2
m -342274866884.40906, b -4829792630.21314, cost 9.692349688813365e+20 iteration 3
m 258962021130465.47, b 3654176751462.369, cost 5.548188477384989e+26 iteration 4
m -1.9592828710504816e+17, b -2764716573371175.5, cost 3.17594766686098e+32 iteration 5
m 1.4823754278847883e+20, b 2.0917591706571228e+18, cost 1.8180066563625124e+38 iteration 6
m -1.1215516358893291e+23, b -1.5826057796199097e+21, cost 1.0406809397602957e+44 iteration 7
m 8.4855566835785e+25, b 1.1973849995836343e+24, cost 5.957166408550363e+49 iteration 8
m -6.420094262813677e+28, b -9.059304949412198e+26, cost 3.4100587666508905e+55 iteration 9