In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [5]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [7]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [9]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [13]:
x_train.head()

      Age  Pclass     Fare
745  70.0       1  71.0000
18   31.0       3  18.0000
141  22.0       3   7.7500
420   NaN       3   7.8958
859   NaN       3   7.2292

In [15]:
knn = KNNImputer(n_neighbors=3)

x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [17]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.7486033519553073

In [19]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [21]:
lr = LogisticRegression()

lr.fit(x_train_trf2,y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test,y_pred2)

0.7262569832402235